[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
matplotlib = "*"
pylatexenc = "*"
ffsim = "*"
pyscf = "*"
qiskit-addon-sqd = "*"
qc-grader = {extras = ["jupyter", "qiskit"], editable = true, ref = "main", git = "https://github.com/qiskit-community/Quantum-Challenge-Grader.git"}

[dev-packages]

[requires]
python_version = "3.13"
